@use 'constants';
@use '../functions/trig';

.about-grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  'content hex1'
  'content hex2'
  'content hex3';
  .about-content{
    grid-area: content;
    padding: 20px;
  }
  .about-hex{
    image{
      height:100px;
      width: auto;
    }
    .hexagon-path{
      transform-box: fill-box;
      transform-origin: center;
    }
    .hexagon-clip{
      transform: translate(6.5px,0px);
    }
    display: block;
    margin: auto;
    justify-self: center;
    align-self: center;
    transition: .1s;
  }
  @for $i from 1 to 4{
    #hex-svg-#{$i}{
      grid-area: hex#{$i};
    }
  }
}

@media screen and (max-width: constants.$tablet-breakpoint){
  .about-grid{
    margin-left: 25px;
    margin-right: 25px;
    grid-template-areas: 
    'content hex1'
    'content hex2'
    'content hex3';
  }
}

@media screen and (min-width: constants.$tablet-breakpoint){
  .about-grid{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    '. content hex1'
    'hex2 content .'
    '. content hex3';
    margin-left: 100px;
    margin-right: 100px;
  }
}
