@use 'constants';
@use '../functions/trig';

#about{
  padding-top: constants.$banner-height;
  margin-top: -1 * constants.$banner-height;
}

.about-grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  'content hex1'
  'content hex2'
  'content hex3';
  .about-content{
    grid-area: content;
    padding: 20px;
  }
  .about-hex{
    display: none;
    .hexagon-path{
      transform-box: fill-box;
      transform-origin: center;
    }
    .hexagon-clip{
      transform: translate(20px,0px);
    }
    display: block;
    margin: auto;
    justify-self: center;
    align-self: center;
    transition: .1s;
  }
  @for $i from 1 to 4{
    #hex#{$i}{
      grid-area: hex#{$i};
      clip-path: url(#hexagon-clip-#{$i});
      -webkit-clip-path: url(#hexagon-clip-#{$i});
    }
    #hex-svg-#{$i}{
      grid-area: hex#{$i};
      transform: scaleX(.01);
    }
  }
}

@media screen and (max-width: constants.$tablet-breakpoint){
  .about-grid{
    margin-left: 25px;
    margin-right: 25px;
    grid-template-areas: 
    'content hex1'
    'content hex2'
    'content hex3';
  }
}

@media screen and (min-width: constants.$tablet-breakpoint){
  .about-grid{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    '. content hex1'
    'hex2 content .'
    '. content hex3';
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media not all and (min-resolution:.001dpcm) {  //Safari 10+
    path{
      -webkit-transition: .001s; //Fixes safari issues;
      transition: .001s;
    }
}