
/* ***
Variables:
*** */
$accent-color: rgb(28,79,137);
$header-color: rgb(170, 170, 170);
$header-accent: rgb(44, 127, 221);
$topbar-name: rgb(244,244,244);

$heading-stack: Ubuntu, sans-serif ;
$main-text-stack: Roboto Slab, serif;

$mobile-breakpoint: 700px;


/* ***
Mixins:
*** */
@mixin a-no-decoration{
  a{
    text-decoration:none;
    color:inherit;
    &:hover{
      color: inherit;
    }
  }
}