@use 'constants';
@use '../functions/trig';

.transition-triangle{
  padding-bottom: 10px;
  @for $i from 0 through 6{
    .line-#{$i}{
      background-color: constants.$accent-color;
      height: 7px;
      width: 100% * trig.cos($i*12deg);
      margin-left: auto;
      margin-right: auto;
      margin-top: 3px;
      border-bottom-left-radius: 4px + 2px * $i;
      border-bottom-right-radius: 4px + 2px * $i ;

    }
  }
}
#into-projects{
  transform: rotate(180deg);
  .line{
    background-color: constants.$showcase-background;
    margin-top: 0px;
    margin-bottom: 3px;

  }
  #project-decal-curtain{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0; //we are upside down
    width: 100%;
    height: 60px;
    background-color: $color__background-body;
    z-index: 1;
  }
}
#outof-projects{
  .line{
    background-color: constants.$showcase-background;
    margin-top: 0px;
    margin-bottom: 3px;
  }
}