@use 'constants';
@use '../functions/trig';
.transition-triangle{
  padding-bottom: 10px;
  @for $i from 1 through 6{
    .line-#{$i}{
      background-color: constants.$accent-color;
      height: 7px;
      width: 100% * trig.cos($i*12deg);
      margin-left: auto;
      margin-right: auto;
      margin-top: 3px;
      border-bottom-left-radius: 4px + 2px * $i;
      border-bottom-right-radius: 4px + 2px * $i ;

    }
  }
}