@use "constants";

#billboard-nav{
  margin-left: 40px;
  grid-area: navigation;
  align-self: center;
  font-family: constants.$main-font-stack;
  color: constants.$header-color;
  font-size: 30px;
  @include constants.a-no-decoration;
  #primary-menu{
    display: flex;
    justify-content: space-between;
    grid-area: navigation;
    flex-direction: column;
  }
  ul{
    display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
  }
}

#menu-banner{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name menu";
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 0px 20px 0px 20px;
  top: 0;
  z-index: 999;
  transition: .25s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  height: constants.$banner-height;
  color: constants.$header-color;
  background-color: constants.$banner-color;
  box-shadow: 5px 0px 10px black;
  &.hidden{
    top: -1 * constants.$banner-height - 10px;
  }
  h2{
    transition: .25s;
    color: constants.$header-accent;
    grid-area: name;
    margin: 0px;
    font-family: constants.$header-stack;
  }
  #site-navigation{
    font-family: constants.$main-font-stack;
    grid-area: menu;
    .nav-menu{
      float: right;
      display: flex;
      justify-content: end;
      li{
        padding-left: 20px;
      }
    }
  }
  @include constants.a-no-decoration;
}

@media screen and (min-width: constants.$tablet-breakpoint){ //Desktop
  #menu-banner{
    padding: 0px 50px 0px 50px;
  }
  #billboard-nav{
    font-size: 50px;
    margin-left: 0px;
    #primary-menu{
      align-items: center;
      flex-direction: row;
    }
  }
}
