@use "constants";
@mixin color-assignment($header,$links,$text,$bg,$bottom){
  color: $text;
  background-color: $bg;
  border-bottom: solid 5px $bottom;
  h1,h2,h3,h4,h5{
    color: $header;
  }
  a span{
    color:$links;
  }
}

.project-card{
  border-radius: 25px;
  &#p4gtl{
    $header: rgb(0, 105, 237);
    $link: rgb(255,153,0);
    $text: black;
    $bg: rgb(238, 238, 238);
    $bottom: gray;
    @include color-assignment($header,$link,$text,$bg,$bottom);
  }
  
  &#nextstep{
    $header: rgb(214, 81, 81);
    $link: rgb(214,81,81);
    $text: black;
    $bg: rgb(255,252,252); 
    $bottom: gray;
    @include color-assignment($header,$link,$text,$bg,$bottom);
  }

  &#spirographs{
    $header: rgb(0, 105, 237);
    $link: rgb(166,207,222);
    $text: white;
    $bg: rgb(16,0,48); 
    $bottom: gray;
    @include color-assignment($header,$link,$text,$bg,$bottom);
  }

}